a { 
    text-decoration: none;
}
body {
    font-family: 'Comfortaa', cursive;
}

/* text styles */
h1 {
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
h2 {
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #330000;
}
h4 {
    padding-top: 20px;
}
.bodytext {
    font-style: normal;
    font-weight: 400;
    color: #330000;
    padding: 10px;
}

/* buttons */
.btn-primary {
    border-radius: 25px;
    display: inline-block;
    line-height: 1;
    padding: 14px 28px;
    border: 2px solid #330000;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btn-filled {
    background: #800000;
    color: #feca08;
}
.btn-filled:hover {
    background: #feca08;
    color: #800000;
    border: 2px solid #330000;
}

.container {
    max-width: 100%;
}

/* navbar section*/
.bg-light {
    background-color: #feca08!important;
}
.navbar-light .navbar-nav .nav-link {
    color: #330000;
    font-size: 40px;
    padding: 30px;
}
.navbar-brand {
    padding: 25px auto;
}

/* header section */
header {
    background: url("https://cdn.pixabay.com/photo/2016/01/19/17/41/friends-1149841_960_720.jpg");
    width: 100%;
    height: auto;
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-attachment: fixed;
    color: #800000;
}
.header-logo {
    max-width: 100%;
}

/* images section */
.images .row {
    margin: 0;
    padding: 0;
}
.images .col-md-4 {
    margin: 0;
    padding: 0;
}
.images img {
    width: 100%;
    height: auto;
}

/* team section */
.team {
    background: #FCF893;
    padding: 30px 10px 20px 10px;
}
.photo {
    max-width: 100%;
}

/* social bar */
.social-bar {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #feca08;
}
.social-bar .row {
    margin: 0;
    padding: 0;
}
.social-bar a {
    display: inline-block;
    margin: 20px 0;
    font-size: 30px;
    color: #ffffff;
    width: 100%;
}
.social-bar .col-md-3 {
    margin: 0;
    padding: 0;
}
.social-bar .viber {
    background-color: #7360f2;
}
.social-bar .instagram {
    background-color: #e56969;
}
.social-bar .facebook {
    background-color: #3b5998;
}
.social-bar .telegram {
    background-color: #0088cc;
}

/* action banner */
.action-banner {
    margin-top: 0;
    padding: 140px 0;
    position: relative;
    background-image: url("img/kitten.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.action-banner h3 {
    font-weight: normal;
    color: #330000;
    margin: 25px 0;
}

/* address section */
.address {
    background: #feca08;
    padding-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.map {
    max-width: 100%;
    height: auto;
    padding: 10px;
    vertical-align: middle;
}

/* footer */
footer {
    padding: 20px 0;
    background-color: #330000;
    color: #feca08;
}
.copyright {
    margin-top: 15px;
}
